# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# DB dumps
*.sql
*.sqlite

# VSCode settings
.vscode/

# Docker files
docker-compose.override.yml

# Sequelize migration logs (ถ้าใช้)
.sequelize/

# OS Files
.DS_Store
Thumbs.db
